fastapi
glob2
sentinel5dl
xarray~=2022.11.0
dask[complete]~=2023.6.0
zarr~=2.13.3
geopy
streamlit
Pillow~=9.5.0
datetime
uvicorn
netcdf4
h5netcdf
schedule
seaborn
numpy~=1.24.3
pandas~=1.5.3
harp~=1.18